#advanced.tab-content.well
  .horizontal-form
    .horizontal-form-group
      .horizontal-form-label
        Draft?
        %small Great for when your article is not quite finished
      .horizontal-form-content
        = f.check_box :draft, data: { switch: true }