#search_engines.tab-content

  .page-form
    .page-form-group
      .page-form-label SEO title
      .page-form-control
        = f.text_field :seo_title, class: 'input-large'

    .page-form-group
      .page-form-label SEO description
      .page-form-control
        = f.text_area :seo_description